<div class="container-fluid">
  <div class="row">
          <div class="col-sm-6">
                  <!-- <h1 class="mission">
                          Our Mission
                  </h1>
                  <p class="statement">
                          Makerspad is the cloud-based product intelligence platform designed for Product
                          Managers. Makerspad helps Product Managers deliver flawless user experience across web,
                          mobile and wearables by analyzing user behaviors and identifying root causes and
                          business impacts. With features such as pattern recognition, anomaly detection,
                          correlation analysis and predictive forecasting, Makerspad connects a user behavior data
                          with code-level trace and infrastructure metrics to exactly pinpoint the issue, thus
                          ensuring flawless experience both pre and post product launch.<br>
                  </p> -->

                  <img class="beach" src="/assets/img/beach-4816249_1920.jpg">
                  <br>
                  <!-- <p class="statement">
                          As we onboard this mission, we are looking to hire passionate team members who are
                          willing to join us in meeting the goals. Please check the openings below.
                  </p> -->
          </div>
          <div class="col-sm-6">


                  <div class="container">
                          <form class="form" action="/action_page.php">
                                  <label for="fname">First Name</label>
                                  <input type="text" id="fname" name="firstname" [(ngModel)]='contactForm.userName' placeholder="Your name..">

                                  <label for="lname">Last Name</label>
                                  <input type="text" id="lname" name="lastname" [(ngModel)]='contactForm.lastName' placeholder="Your last name..">

                                  <!-- <label for="country">Country</label>
                                  <select id="country" name="country">
                                          <option value="australia">India</option>
                                          <option value="canada">Non Residency</option>
                                  </select> -->

                                  <label for="lname">Email</label>
                                  <input type="text" id="lname" name="lastname" [(ngModel)]='contactForm.userEmail'  placeholder="Your email..">
                                  
                        
                                  <label for="lname">Phone Number</label>
                                  <input type="text" id="phone" name="phone" [(ngModel)]='contactForm.userph'  placeholder="Your mobile.."
                                  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                  required>

                                  <label for="subject">Subject</label>
                                  <textarea id="subject" name="subject"  [(ngModel)]='contactForm.mailContent' placeholder="Write something.."
                                          style="height:200px"></textarea>

                                  <input type="submit" value="Submit" (click)='sendEmail()'>
                                  <span class="responses" *ngIf="SendMailResponse">{{SendMailResponse}}</span>

                          </form>
                  </div>

          </div>
  </div>
</div>










<div class="container">


       

        <footer class="Rectangle1">

                <div class="tt-copy">
                        <div class="container">
                                <div style="color: #232a64;" class="row">
                                        <div class="col-sm-6">
                                                <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                                <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div style="color: cornsilk;" class="tt-copy-right">


                                                        <a href="https://www.linkedin.com/company/productanalytics"
                                                                style="font-size:24px; cursor: pointer; color: white;"
                                                                class="fab fa-linkedin"></a>

                                                </div>

                                        </div>
                                </div>
                        </div>
                        

                      
                    
                </div>
        </footer>


</div>