<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 ">
        <h1 class="mission">Sr. Full Stack Developer</h1>
      </div>
    </div>
  </div>
</section>

<div class="roll">
  <p>Makerspad is looking for experience principal cloud native developer who has credible experience building cloud
    based solutions utilizing opensource technology stack that will offer a sustainable advantage both short and long
    term. </p>

  <p>The Open source platform will need deliver a framework to support multiple programming languages i.e Java, Node.js,
    Python, Ruby/Rails, Scala and Fuse for Small-to-Medium business, Mid-Market and Enterprise usage; enable building,
    provisioning and administrating multi-tenant, scale-out applications throughout the life cycle, from development,
    test and into production. This framework must embrace open technology standards, industry best practices and
    guidelines to help easy onboarding of new team members to understand and develop. </p>
</div>
<section class="site-section">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <div class="d-flex align-items-center">


        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">

          </div>
          <div class="col-6">
            <a style="width: 69% ;height: 117% ;font-size: 16px ;" href="/#apply"
              class="btn btn-block btn-primary btn-md ">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 design">
        <div class="mb-5">
          <figure class="mb-5"></figure>
          <!-- <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Design
            Management
          </h3>
          <li class="apply">Apply your UX knowledge and experience to the development of
            design processes and
            philosophy.
          </li>
          <li class="apply">Create and maintain design schedules. Communicate status and
            agreements with
            partner teams. </li>

          <li class="apply">Regularly learn and stay up to date on design theory, practice
            and tools. Apply
            as necessary into the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;organization. </li>
          <li class="apply"> Mentor junior designers to support their development and
            continuous progress.</li> -->
        </div>


        <div class="mb-5">
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
              class="icon-rocket mr-3"></span>Responsibilities</h3>
          <!-- <ul style="line-height: 2; font-family: proxima-nova; font-size: 16px;" class="list-unstyled m-0 p-0 "> -->
          <li class="apply">	Present architectural design concepts and solutions to all levels in the organization</li>
          <li class="apply">  Build cloud optimized reference architecture and contribute to architecture governance</li>
          <li class="apply">	Compare and evaluate various private, public cloud technologies and tools from technical, functional <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; and financial feasibility</li>
          <li class="apply">		Drive proof of concepts that assess the feasibility of solutions and demonstrate to our product <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;partners how technology can be leveraged</li>
          <li class="apply">	Gather requirements; build functional specifications, timelines, adoption plans and other artifacts to <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;support technology implementation</li>
        </div>

        <div class="mb-5">
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>
            Experience</h3>
          <!-- <ul style="line-height: 2; font-family: proxima-nova; font-size: 16px;" class="list-unstyled m-0 p-0"> -->
          <li class="apply">Previous strong experience in distributed software architecture and design; knowledge of SOA,<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Restful Web Service, and Micro Services Framework</li>
          <li class="apply">Familiar with the mainstream of commercial and open source cloud service development tools, with <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;extensive working experience</li>
          <li class="apply">	Familiar with the social, mobile, big data of architecture and solutions, and with the ability to<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; consolidate and integrate them with cloud native tool chain in architecture and solution level.</li>
          <li class="apply">Previous Experience in design and develop the leading mainstream Cloud Computing platforms and <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Service-Oriented Architecture-Container Technology and Micro Service System Architecture </li>
          <li class="apply">	Strong working knowledge with Clustering and distribution , HA, Multi-Tenancy, Auto-Scaling, <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reliability, Monitoring, and Operations  </li>
          <li class="apply">Previous experience in SaaS Service Architecture, and Software Tooling Service Framework and <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;architecture  </li>
          <li class="apply">	Familiar with Go, Python, Java, Node.JS Programming Languages. </li>
          <li class="apply">	Incumbent must have minimum 7+ years’ experience in Technology Infrastructure with high<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; transaction processing environments</li>
          <li class="apply">	Experience with elastically scalable, fault tolerance and other cloud architecture patterns </li>
          <li class="apply">	Experience with RFP process including evaluating technologies and working with vendors for<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; technology selection and implementation</li>
          <li class="apply">  	Good understanding of various virtualization – vSphere, KVM and Hyper-V, cloud management <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;technologies and tools as well as various cloud delivery models    </li>
          <li class="apply"> 	Good understanding of various private, public, and hybrid cloud platform, continuous integration or <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;delivery as a service, DevOps and distributed computing    </li>
          <li class="apply">  	Experience with OpenStack, OpenShift, AWS, Azure, CloudFoundry, Docker and other container/PaaS <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; technologies    </li>
          <li class="apply">  Incumbent must have proactive and entrepreneurial working style and strong ability to work without<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; direction with breakthrough thinking, influencing and execution capabilities     </li>     
          <li class="apply"> 	Strong leadership, planning, execution, presentation, negotiation and multi-tasking skills--must be  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;able to lead, review and execute multiple strategic projects     </li>
          <li class="apply">   Must have excellent interpersonal and communication skills for various audiences, both business and<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; technical
          </li>
          <li class="apply">   	A bachelor’s or master’s(preferable) degree in Computer Science  </li>

        </div>

        


      </div>
      <div class="col-lg-4 summary">
        <div class="bg-light p-3 border rounded mb-4">
          <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
          <ul style="line-height: 2; text-align: left;font-weight: 400;"
            class="list-unstyled pl-3 mb-0 text-align:left;">
            <li class="mb-2"><strong class="text-black">Published on:</strong> Feb 3, 2020</li>
            <li class="mb-2"><strong class="text-black">Employment Type:</strong> Full-time</li>
            <li class="mb-2"><strong class="text-black">Experience:</strong> 7+ year(s)</li>
            <li class="mb-2"><strong class="text-black">Job Location:</strong> Remote</li>
           
            <!-- <li class="mb-2"><strong class="text-black">Application Deadline:</strong> </li> -->
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container">

 

  <footer class="Rectangle1">

    <div class="tt-copy">
            <div class="container">
                    <div style="color: #232a64;" class="row">
                            <div class="col-sm-6">
                                    <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                    <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                            </div>
                            <div class="col-sm-6">
                                    <div style="color: cornsilk;" class="tt-copy-right">


                                            <a href="https://www.linkedin.com/company/productanalytics"
                                                    style="font-size:24px; cursor: pointer; color: white;"
                                                    class="fab fa-linkedin"></a>

                                    </div>

                            </div>
                    </div>
            </div>
            

          
        
    </div>
</footer>


</div>