<!-- HOME -->
<section class="section-hero overlay inner-page bg-image" style="background-image: url('images/hero_1.jpg');"
  id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1 class="mission">Sr. User Experience Designer</h1>
      </div>
    </div>
  </div>
</section>

<div class="roll">
  <p>Makerspad is looking for a passionate and experienced designer who cares about innovation through design and
    technology. You are a strong advocate for the best design practices and love learning new skills as well as
    mentoring
    others.</p>

  <p>This role requires significant experience and the ability to shape a new client engagement, provide design
    leadership
    and be comfortable guiding a team and working with clients on site.</p>
</div>
<section class="site-section">
  <div class="container">
    <div class="row align-items-center mb-5">
      <div class="col-lg-8 mb-4 mb-lg-0">
        <div class="d-flex align-items-center">


        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col-6">
           
          </div>
          <div class="col-6">
            <a style="width: 69% ;height: 117% ;font-size: 16px ;" href="/contact-us"
              class="btn btn-block btn-primary btn-md ">Apply Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 design">
        <div class="mb-5">
          <figure class="mb-5"></figure>
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-align-left mr-3"></span>Design
            Management
          </h3>
          <li class="apply" >Apply your UX knowledge and experience to the development of
            design processes and
            philosophy.
          </li>
          <li class="apply" >Create and maintain design schedules. Communicate status and
            agreements with
            partner teams. </li>

          <li class="apply" >Regularly learn and stay up to date on design theory, practice
            and tools. Apply
            as necessary into the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;organization. </li>
          <li class="apply"> Mentor junior designers to support their development and
            continuous progress.</li>
        </div>

        
        <div class="mb-5">
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
              class="icon-rocket mr-3"></span>Responsibilities</h3>
          <!-- <ul style="line-height: 2; font-family: proxima-nova; font-size: 16px;" class="list-unstyled m-0 p-0 "> -->
            <li class="apply">
                Partner with UX
                researcher to write, facilitate, and analyze user research to build a strong
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;understanding of users. Conduct usability studies and put together detailed, structured analysis of
                <br>&nbsp;&nbsp;&nbsp;&nbsp; issues
                and potential solutions.</li>
                <li class="apply">Plan,
                facilitate and lead
                collaborative design sessions (including sketching and ideation) to generate
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ideas or feedback both remote and in-person. </li>
                <li class="apply">Help define
                product
                requirements by collaborative brainstorming and high-level prototyping with
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;cross-functional teams.</li>
          <!-- </ul> -->
        </div>

        <div class="mb-5">
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span class="icon-book mr-3"></span>
            Experience</h3>
          <!-- <ul style="line-height: 2; font-family: proxima-nova; font-size: 16px;" class="list-unstyled m-0 p-0"> -->
            <li class="apply"> Excellent
                problem solving and design skills - ability to understand and interpret user problems within<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the context
                of the product/business - and distill findings into actionable design recommendations and
                <br>&nbsp;&nbsp;&nbsp;&nbsp; solutions.</li>
                <li class="apply">Strong
                communication & presentation skills (written, oral and visual). Ability to confidently work with
                <br>&nbsp;&nbsp;&nbsp;&nbsp; cross-functional teams across the globe and to present information to all levels of the
                organization.</li>

                <li class="apply"> Intellectual
                curiosity – initiative to dig into the who, why, where, what & how.</li>

                <li class="apply"> Curiosity
                about people, their behavior and how they interact with mobile / digital products.</li>
                <li class="apply"> Advanced
                knowledge of software tools & applications for conducting usability testing, creating <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prototypes and hi
                fidelity designs and delivering impactful presentations.</li>
                <li class="apply">Experience
                of working with agile development teams.</li>
                <li class="apply">Inherent
                interest in eCommerce & marketplace platforms and broadly in the consumer Internet &<br>&nbsp;&nbsp;&nbsp;&nbsp; mobile
                space.</li>
                <li class="apply"> Most
                importantly, an extremely positive “Can Do” attitude which continuously drives you to take <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;initiative
                and demonstrate a high degree of self-motivation.</li>
                <li class="apply">Strong team
                player and leadership skills</li>
                <li class="apply"> At least 5
                years of experience as a user experience designer, interaction designer, information<br>&nbsp;&nbsp;&nbsp;&nbsp; architect, or
                similar UX-related role working on consumer mobile products. </li>
                <li class="apply">Bachelor's
                degree in design, human-computer interaction (HCI) or a related field. Preferably a<br>&nbsp;&nbsp;&nbsp;&nbsp; Master's degree in
                design. </li>

                <li class="apply"> Experience
                in designing consumer-facing Mobile apps, both for Android and iOS </li>
                <li class="apply"> An online
                portfolio or samples of work demonstrating relevant experience </li>

                <li class="apply"> Knowledge
                of best practices for information architecture and interaction design, user-centered <br>&nbsp;&nbsp;&nbsp;&nbsp;design process, as
                well as user experience principles and techniques </li>
                <li class="apply"> At least
                two (2) years of experience working in a collaborative team and directly with developers and <br>&nbsp;&nbsp;&nbsp;&nbsp; product
                managers </li>


          <!-- </ul> -->
        </div>

        <div  class="mb-5">
          <h3 class="h5 d-flex align-items-center mb-4 text-primary"><span
              class="icon-turned_in mr-3"></span>Communicate and influence design decisions </h3>
          <!-- <ul class="list-unstyled m-0 p-0"> -->
            <li class="apply"> Communicate and present
                design work to the user experience team, product team and senior <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;leadership for review and feedback and
                to drive decisions and get the commitment on final UX <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;deliverables. </li>
                <li class="apply"> Effectively sell design
                solutions to cross-functional teams and stakeholders through design <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;storytelling and by demonstrating
                traceability in the design thinking. </li>
                <li class="apply">Commodi quae ipsum
                quas est itaque</li>
                <li class="apply"> Work with visual designers and
                engineering teams to ensure the integrity of user experience in the <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;final product.
              </li>

          <!-- </ul> -->
        </div>


      </div>
      <div class="col-lg-4 summary">
        <div class="bg-light p-3 border rounded mb-4">
          <h3 class="text-primary  mt-3 h5 pl-3 mb-3 ">Job Summary</h3>
          <ul style="line-height: 2; text-align: left;font-weight: 400;" class="list-unstyled pl-3 mb-0 text-align:left;">
            <li class="mb-2"><strong class="text-black">Published on:</strong> Feb 3, 2020</li>
            <li class="mb-2"><strong class="text-black">Vacancy:</strong> 1</li>
            <li class="mb-2"><strong class="text-black">Employment Status:</strong> Full-time</li>
            <li class="mb-2"><strong class="text-black">Experience:</strong> 2 to 3 year(s)</li>
            <li class="mb-2"><strong class="text-black">Job Location:</strong> Hyderabad or Remote</li>
            <li class="mb-2"><strong class="text-black">Salary:</strong></li>
            <li class="mb-2"><strong class="text-black">Gender:</strong> Any</li>
            <!-- <li class="mb-2"><strong class="text-black">Application Deadline:</strong> </li> -->
          </ul>
        </div>

      </div>
    </div>
  </div>
</section>

<div class="container">

<footer class="Rectangle1">

  <div class="tt-copy">
          <div class="container">
                  <div style="color: #232a64;" class="row">
                          <div class="col-sm-6">
                                  <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                  <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                          </div>
                          <div class="col-sm-6">
                                  <div style="color: cornsilk;" class="tt-copy-right">


                                                  <a href="https://www.linkedin.com/company/productanalytics" style="font-size:24px; cursor: pointer; color: white;" class="fab fa-linkedin"></a>

                                  </div>

                          </div>
                  </div>
          </div>
          <br>
          <br>
          <br>
          <br>
        
<div >
<hr class="new4">
</div>
          <br>
          <br>
          <div class="container">
                  <div class="row">
                          <div class="col-md-6 col-sm-12" style="text-align: -webkit-left;">
<h1 class="C-2020-makerspad--">(C) 2020 makerspad - All rights reserved</h1>
</div>

<div class="col-md-6 col-sm-12 " style="text-align: -webkit-right;">
<h1 class="Handmade-by-makerspa">Handmade by makerspad.ai</h1>
          </div>
          </div>
  </div>
  </div>
</footer>

</div>
