


<div class="container-fluid">
  <div style="margin-top: 10%;" class="row">
          <div class="col-sm-6">
                  <h1 class="mission">
                          Our Mission
                  </h1>
                  <p class="statement">
                          Makerspad is the cloud-based product intelligence platform designed for Product
                          Managers. Makerspad helps Product Managers deliver flawless user experience across web,
                          mobile and wearables by analyzing user behaviors and identifying root causes and
                          business impacts. With features such as pattern recognition, anomaly detection,
                          correlation analysis and predictive forecasting, Makerspad connects a user behavior data
                          with code-level trace and infrastructure metrics to exactly pinpoint the issue, thus
                          ensuring flawless experience both pre and post product launch.<br>
                  </p>

                  <br>
                  <p class="statement2">
                          As we onboard this mission, we are looking to hire passionate team members who are
                          willing to join us in meeting the goals. Please check the openings below.
                  </p>
          </div>
          <div class="col-sm-6">


                  <div class="container">
                    <div style="text-align: center;" class="mb-5">
                      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                          <span class="badge badge-primary px-2 py-1 mb-3">Full-time</span>
                          <h2><a href="/#sr-user-experience-designer">Sr. User Experience Designer</a> </h2>
                          <p class="meta">Publisher: <strong>Makerspad Inc.</strong> </p>
                        </div>
                        <div class="col-md-3  hydin">
                                                   <!-- <h3>Remote</h3> -->
            
                        </div>
                        
                      </div>
            
                      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                          <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>
                          <h2><a href="/#full-stack-developer">Full Stack Developer</a> </h2>
                          <p class="meta">Publisher: <strong>Makerspad Inc.</strong> </p>
                        </div>
                        <div class="col-md-3 ">
                                                   <!-- <h3>Remote</h3> -->
            
                        </div>
                      
                      </div>
            
                      <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
                        <div class="col-md-2">
                        </div>
                        <div class="col-md-4">
                          <span class="badge badge-success px-2 py-1 mb-3">Full-time</span>
                          <h2><a href="/#sr-full-stack-developer">Sr.Full Stack Developer</a> </h2>
                          <p class="meta">Publisher: <strong>Makerspad Inc.</strong> </p>
                        </div>
                        <div class="col-md-3 ">
                                                   <!-- <h3>Remote</h3> -->
            
                        </div>
                       
                      </div>
                     
            
            
                    </div>
            
                  </div>

          </div>
  </div>
</div>










<div class="container">


       

        <footer class="Rectangle1">

                <div class="tt-copy">
                        <div class="container">
                                <div style="color: #232a64;" class="row">
                                        <div class="col-sm-6">
                                                <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                                <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div style="color: cornsilk;" class="tt-copy-right">


                                                        <a href="https://www.linkedin.com/company/productanalytics"
                                                                style="font-size:24px; cursor: pointer; color: white;"
                                                                class="fab fa-linkedin"></a>

                                                </div>

                                        </div>
                                </div>
                        </div>
                        

                      
                    
                </div>
        </footer>


</div>


  
  
  

