<div class="">
<section  class="home-section section-hero inner-page overlay bg-image" style="background-image: url('images/hero_1.jpg');"
      id="home-section">

      <div style="margin-top: 5%;" class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div  class="mb-5 text-center">
              <h1 class="text-black ">Job Listings</h1>
            </div>
          </div>
        </div>
      </div>


    </section>

    

    <section class="site-section">
      <div  class="container">

        


        <div style="text-align: center;" class="mb-5">
          <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <span class="badge badge-primary px-2 py-1 mb-3">Full-time</span>
              <h2><a href="/#designation1">Sr. User Experience Designer</a> </h2>
              <p class="meta">Publisher: <strong>Makerspad Inc.</strong> </p>
            </div>
            <div class="col-md-3 text-left">
              <h3>Hyderabad</h3>
              <span class="meta">India</span>
            </div>
            
          </div>

          <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>
              <h2><a href="/#designation2">Full Stack Developer</a> </h2>
              <p class="meta">Publisher: <strong>Makerspad Inc.</strong> </p>
            </div>
            <div class="col-md-3 text-left">
              <h3>Hyderabad</h3>
              <span class="meta">India</span>
            </div>
          
          </div>

          <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <span class="badge badge-success px-2 py-1 mb-3">Full-time</span>
              <h2><a href="/#designation3">Sr.Full Stack Developer</a> </h2>
              <p class="meta">Publisher: <strong>Makerspad Inc.</strong> </p>
            </div>
            <div class="col-md-3 text-left">
              <h3>Hyderabad</h3>
              <span class="meta">India</span>
            </div>
           
          </div>
          <!-- <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <span class="badge badge-primary px-2 py-1 mb-3">Freelancer</span>
              <h2><a href="job-single.html">Dropbox Product Designer</a> </h2>
              <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
            </div>
            <div class="col-md-3 text-left">
              <h3>Melbourn</h3>
              <span class="meta">Australia</span>
            </div>
            
          </div> -->

          <!-- <div class="row align-items-start job-item border-bottom pb-3 mb-3 pt-3">
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
              <span class="badge badge-warning px-2 py-1 mb-3">Full-time</span>
              <h2><a href="job-single.html">Creative Director in Intercom</a> </h2>
              <p class="meta">Publisher: <strong>John Stewart</strong> In: <strong>Design</strong></p>
            </div>
            <div class="col-md-3 text-left">
              <h3>London</h3>
              <span class="meta">United Kingdom</span>
            </div>
           
          </div>
 -->
          


        </div>


      </div>
    </section>
</div>






  
  
  
  
  <div class="container">
<footer class="Rectangle1">

    <div class="tt-copy">
            <div class="container">
                    <div style="color: #232a64;" class="row">
                            <div class="col-sm-6">
                                    <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                    <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                            </div>
                            <div class="col-sm-6">
                                    <div style="color: cornsilk;" class="tt-copy-right">
  
  
                                                    <a href="https://www.linkedin.com/company/productanalytics" style="font-size:24px; cursor: pointer; color: white;" class="fab fa-linkedin"></a>
  
                                    </div>
  
                            </div>
                    </div>
            </div>
            <br>
            <br>
            <br>
            <br>
          
<div >
<hr class="new4">
</div>
            <br>
            <br>
            <div class="container">
                    <div class="row">
                            <div class="col-md-6 col-sm-12" style="text-align: -webkit-left;">
<h1 class="C-2020-makerspad--">(C) 2020 makerspad - All rights reserved</h1>
</div>

<div class="col-md-6 col-sm-12 " style="text-align: -webkit-right;">
<h1 class="Handmade-by-makerspa">Handmade by makerspad.ai</h1>
            </div>
            </div>
    </div>
    </div>
  </footer>
</div>

