













<footer class="Rectangle1">

  <div class="tt-copy">
          <div class="container">
                  <div style="color: #232a64;" class="row">
                          <div class="col-sm-6">
                                  <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                  <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                          </div>
                          <div class="col-sm-6">
                                  <div style="color: cornsilk;" class="tt-copy-right">


                                                  <a href="https://www.linkedin.com/company/productanalytics" style="font-size:24px; cursor: pointer; color: white;" class="fab fa-linkedin"></a>

                                  </div>

                          </div>
                  </div>
          </div>
  </div>
</footer>