<div class="container1">
        <p style="position: absolute; color: cornsilk; z-index: 1;margin-left: 15%;
margin: 15%;font-style: tohoma;font-size: 80px;">
                MakersPAD
        </p>
        <svg style="margin-bottom: -67%;margin-top: 11%;" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">

                <path d="M0,110 C300,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#1958BF;"></path>
        </svg>
        <!-- <img style="position: absolute; z-index: 1;" src="./assets/img/makerspad.PNG" alt="first image" > -->

</div>

<br>
<div class="container">
        <div class="col-md-12 col-sm-12">
                <div class="text">
                        <h1>Behavioral Analytics</h1>
                        <p>Ever wonder "How are customers using your product, if at all?.<br>

                                Join millions of Product Managers who strive to answer this question every day.
                                <br>
                                Behavior data provides access to rich source of insight without the need for
                                expensive data engineers.</p>
                </div>
        </div>
</div>

<br>
<br>
<div class="container">
        <div class="col-md-12 col-sm-12">
                <img src="./assets/img/Capture.PNG">
        </div>
</div>
<br>
<br>
<div class="container">
        <div class="col-md-12">
                <div class="row">

                        <div class="col-sm-12 col-md-4 text2">
                                <img src="./assets/img/Capture1.PNG">
                                <h1 style="text-align: center;">Voice Analysis</h1>
                                <span calss="par">Sample content to be written here along with content used for the
                                        website sample content to be written here along with remaining content.</span>
                        </div>

                        <div class="col-md-4 col-sm-12 text2">
                                <img src="./assets/img/Capture2.PNG">
                                <h1>Usage Analysis</h1>
                                <span calss="par">Sample content to be written here along with content used for the
                                        website sample content to be written here along with remaining content.</span>
                        </div>
                        <div class="col-md-4 col-sm-12 text2">
                                <img src="./assets/img/Capture3.PNG">
                                <h1>Survey Analysis</h1>
                                <span calss="par">Sample content to be written here along with content used for the
                                        website sample content to be written here along with remaining content.</span>
                        </div>

                </div>
        </div>
</div>
<br>
<br>
<br>
<br>
<div class="container">
        <div class="col-md-12 col-sm-12">
                <div class="row">
                        <div class="col-sm-12 col-md-6">
                                <img src="./assets/img/Capture8.PNG" style="width: 100%;">
                        </div>
                        <div class="col-sm-12 col-md-6" style="color: black;">
                                <h1 style="font-size: 5.5rem;text-align: initial;"> Real time bring
                                        <br>better conversions</h1>
                                <span style="text-align: initial;">Lorem ipsum dolor sit amet consectetur adipiscing
                                        elitsed do eiusmod
                                        tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim
                                        veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.</span>
                        </div>
                </div>
        </div>

</div>
<br>
<br>
<div class="container">
        <h1 style="text-align: center; color: black;">How we use Al</h1>
        <br>
        <div class="row">


                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
font-size: 22px;">Augmented Intelligence</span>
                                <br>
                                <p style="color: black;margin-left: 0px;">We use Al to extend human judgement
                                        insteadof replacing it </p>
                        </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
    font-size: 22px;">Signal Capture & User Behavior</span>
                                <br>
                                <p style="color: black;margin-left: 0px;">We use Al to extend human judgement
                                        insteadof replacing it </p>
                        </div>
                </div>
        </div>
        <br>
        <br>
        <div class="row">


                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
    font-size: 22px;">User Experience</span>
                                <br>
                                <p style="color: black;margin-left: 0px;">We utilize machine learning to create positive
                                        experiences by studying usage data
                                        for customers </p>
                        </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
        font-size: 22px;">Hyper Personalization</span>
                                <br>
                                <p style="color: black;margin-left: 0px;">We utilize machine learning to create positive
                                        experiences by studying usage data
                                        for customers </p>
                        </div>
                </div>
        </div>
        <br>
        <br>
        <div class="row">


                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture10.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
        font-size: 22px;">Classification</span>
                                <br>
                                <p style="color: black;margin-left: 0px;">We use clustering algorithms to identify
                                        themes and patterns and improve usage experience </p>
                        </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture10.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
            font-size: 22px;">Sentiment Analysis</span>
                                <br>
                                <p style="color: black;margin-left: 0px;">We use clustering algorithms to identify
                                        themes and patterns and improve usage experience </p>
                        </div>
                </div>
        </div>

</div>
<br>
<!-- <div class="container">
        <div class="row">
          <div class="col align-self-start">
       &nbsp;
          </div>
          <div class="col align-self-center" style="background-color: blue;    padding-right: 252px;">
            <br>
            <br>
            <div class="col-md-6">
                <h1>Fall in love with
                        thejob you
                        truly love.</h1>
            </div>
<div class="col-md-1">
    &nbsp;
</div>
            <div class="col-md-5">
                    <img src="./assets/img//Capture.PNG" width="100%">
            </div>
            <br>
            <br>
               
          </div>
          <div class="col align-self-end">
         &nbsp;
          </div>
        </div>
      </div> -->