<div class="container1" style="width: 100%;">
        <p style="position: absolute; color: cornsilk; z-index: 1;margin-left: 15%;
margin: 15%;font-style: tohoma;font-size: 80px;">
                MakersPAD
        </p>
        <svg style="margin-bottom: -67%;margin-top: 11%;" viewBox="0 0 500 500" preserveAspectRatio="xMinYMin meet">

                <path d="M0,110 C300,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none; fill:#1958BF;"></path>
       
        </svg>
        <!-- <img style="position: absolute; z-index: 1;" src="./assets/img/makerspad.PNG" alt="first image" > -->
      
</div>

<br>
<div class="container">
        <div class="col-md-12 col-sm-12">
                <div class="text">
                        <h1>Behavioral Analytics</h1>
                        <span>Ever wonder "How are customers using your product, if at all?.<br>

                                Join millions of Product Managers who strive to answer this question every day.
                                <br>
                                Behavior data provides access to rich source of insight without the need for
                                expensive data engineers.</span>>
                </div>
        </div>
</div>

<br>
<br>
<div class="container">
        <div class="col-md-12 col-sm-12">
                <img src="./assets/img/Capture.PNG" style="width: 100%;">
        </div>
</div>
<br>
<br>
<div class="container">
        <div class="col-md-12">
                <div class="row">

                        <div class="col-sm-12 col-md-4 text2">
                                <img src="./assets/img/Capture1.PNG">
                                <h1 style="text-align: center;">Voice Analysis</h1>
                                <span calss="par">Sample content to be written here along with content used for the
                                        website sample content to be written here along with remaining content.</span>
                        </div>

                        <div class="col-md-4 col-sm-12 text2">
                                <img src="./assets/img/Capture2.PNG">
                                <h1>Usage Analysis</h1>
                                <span calss="par">Sample content to be written here along with content used for the
                                        website sample content to be written here along with remaining content.</span>
                        </div>
                        <div class="col-md-4 col-sm-12 text2">
                                <img src="./assets/img/Capture3.PNG">
                                <h1>Survey Analysis</h1>
                                <span calss="par">Sample content to be written here along with content used for the
                                        website sample content to be written here along with remaining content.</span>
                        </div>

                </div>
        </div>
</div>
<br>
<br>
<br>
<br>
<div class="container">
        <div class="col-md-12 col-sm-12">
                <div class="row">
                        <div class="col-sm-12 col-md-6">
                                <img src="./assets/img/Capture8.PNG" style="width: 100%;">
                        </div>
                        <div class="col-sm-12 col-md-6" style="color: black;">
                                <h1 style="font-size: 5.5rem;text-align: initial;"> Real time bring
                                        <br>better conversions</h1>
                                <span style="text-align: initial;">Lorem ipsum dolor sit amet consectetur adipiscing
                                        elitsed do eiusmod
                                        tempor incididunt utlabore et dolore magna aliqua. Utenim ad minim
                                        veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat.</span>
                        </div>
                </div>
        </div>

</div>
<br>
<br>
<div class="container">
        <h1 style="text-align: center; color: black;">How we use Al</h1>
        <br>
        <div class="row">


                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
font-size: 22px;">Augmented Intelligence</span>
                                <br>
                                <span style="color: black;margin-left: 0px;">We use Al to extend human judgement
                                        insteadof replacing it </span>>
                        </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
    font-size: 22px;">Signal Capture & User Behavior</span>
                                <br>
                                <span style="color: black;margin-left: 0px;">We use Al to extend human judgement
                                        insteadof replacing it </span>>
                        </div>
                </div>
        </div>
        <br>
        <br>
        <div class="row">


                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
    font-size: 22px;">User Experience</span>
                                <br>
                                <span style="color: black;margin-left: 0px;">We utilize machine learning to create positive
                                        experiences by studying usage data
                                        for customers </span>>
                        </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture9.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
        font-size: 22px;">Hyper Personalization</span>
                                <br>
                                <span style="color: black;margin-left: 0px;">We utilize machine learning to create positive
                                        experiences by studying usage data
                                        for customers </span>
                        </div>
                </div>
        </div>
        <br>
        <br>
        <div class="row">


                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture10.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
        font-size: 22px;">Classification</span>
                                <br>
                                <span style="color: black;margin-left: 0px;">We use clustering algorithms to identify
                                        themes and patterns and improve usage experience </span>
                        </div>
                </div>
                <div class="col-md-6 col-sm-12">
                        <div class="col-md-2">
                                <img src="./assets/img/Capture10.PNG">
                        </div>
                        <div class="col-md-6 col-sm-12">

                                <span style="color: black;
            font-size: 22px;">Sentiment Analysis</span>
                                <br>
                                <span style="color: black;margin-left: 0px;">We use clustering algorithms to identify
                                        themes and patterns and improve usage experience </span>
                        </div>
                </div>
        </div>

</div>
<br>
<div class="container">
        <div class="row">
          <div class="col align-self-start">
       &nbsp;
          </div>
          <div class="col align-self-center" style="background-color: blue;    padding-right: 252px;">
            <br>
            <br>
            <div class="col-md-6">
                <h1>Fall in love with
                        thejob you
                        truly love.</h1>
            </div>
<div class="col-md-1">
    &nbsp;
</div>
            <div class="col-md-5">
                    <!-- <img src="./assets/img//Capture.PNG" width="100%"> -->
            </div>
            <br>
            <br>
               
          </div>
          <div class="col align-self-end">
         &nbsp;
          </div>
        </div>
      </div>
      
<br>
<br>
      
<div class="container">
        <div class="col-md-12 col-sm-12">
                <div class="text">
                        <h1>Artificial Intelligence</h1>
                        <span>Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor
                                incididunt<br>
                                utlabore et dolore magna aliqua. Utenim ad minim veniam quis nostrud exercitation<br>
                                ullamco laboris nisi ut aliquip ex ea commodo consequat..</span>
                </div>
        </div>
</div>
<br>
<div class="container">
        <div class="col-sm-12 col-md-12" style="    background-color: #dcf1f9;padding-bottom: 65px;
        ">
        <div class="row">
                <div class="col-md-6 col-sm-12">
                                <img src="./assets/img//Capture11.PNG" style="margin-top: -49px;">
                        <br>
                        <h1 style="text-align: center;color: blue;">Artificial Intelligence</h1>
                        <span style="color: black;">Makerspad AI and Deep Learning algorithms can
                                        determine what behaviors and signals caused a
                                        reaction and when there were turning points. These
                                        insights are then transformed into analytic reports.</span>

                </div>
                <br>
                <div class="col-md-6 col-sm-12">
                                <img src="./assets/img//Capture12.PNG" style="margin-left: 81%;
                                margin-top: -65px;">
                        <br>
<h1 style="color: blue;">Data Engineering</h1>
<span style="color: black;"> Makerspad data store is a flexible, fully indexed cloud
                database with dynamic schema, that is designed to
                store signal data both pre—configured and ad—hoc.</span>
                </div>
                <br>
        </div>
</div>

</div>
<br>
<div class="container">
        <div class="col-md-12 col-sm-12" style="    margin-top: -61px;">
     <div class="row">
             <div class="col-md-6">
        <div class="card">
                <div class="card-body"> 
                         <div class="col-md-2">
    <img src="./assets/img//Capture17.PNG" >
                        </div>
                        <div class="col-md-1">
                                        &nbsp;    
                          </div>
                        <div class="col-md-9">
                                <span style="color: black;">Sample content to be written here along
                                                with the remaining content used for the
                                                website. Sample content to be written
                                                here along with the remaining content.</span>
                              </div></div>
              </div>
        </div>
 
     
     <div class="col-md-6">
        <div class="card">
          <div class="card-body">
                  <div class="col-md-2">
                                <img src="./assets/img//Capture18.PNG" >
                               
                  </div>
                  <div class="col-md-1">
                                &nbsp;    
                  </div>
               
                  <div class="col-md-9">
                          <span style="color: black;">Sample content to be written here along
                                        with the remaining content used for the
                                        website. Sample content to be written
                                        here along with the remaining content.</span>
                        </div>
          </div>
        </div>
      </div>
</div> 
</div>
</div>
<br>
<br>
<div class="container">
        <div class="col-md-12" style="color: black;">
                <h1>How it all works</h1>
                <span>
                                Makerspad engineering pipelines can take raw signal data and transform them into
                                actionable insights on user behavior.<br>
                                The engineering components are quite specific to the actual application.
                </span>
                <br>
                <br>
                <img src="./assets/img//Capture21.PNG" style="width: 100%;" >
        </div>
</div>
<br>
<div class="container">
        <div class="col-md-6" style="    margin-left: 29%;">
                
                <div class="card">
                  <div class="card-body" style="color: black; text-align:center;">
                                <h2>Ready to generating more sales?</h2><br>
                                <form action="/action_page.php">

                                        <input type="radio" name="gender" value="We don’t spam"> We don’t spam
                                        <input type="radio" name="gender" value="Free cancellation"> Free cancellation
                                        <input type="radio" name="gender" value="Latest news"> Latest news
                                        <br>
                                        <br>
                                        <div class="col-lg-12">
                                                <form method="post">
                                                        <div class="tt-subscribe">
                                                        <input type="text" required="" placeholder="Enter your email">
                                                        <div class="tt-subscribe-submit">
                                                        <i class="fa fa-envelope" aria-hidden="true"></i>
                                                        <input type="submit" value="">
                                                        </div>
                                                        </div>
                                                        </form>
                                                      </div>
                                                      <br>
                                                      <br>
                                                      
                                                      <ul style="color: black;">
                                                        <li>Constant support
                                                        <li>Easy cancellation
                                                        <li>Risk free
                                                      </ul>
                                                     

                                        
                                      
                                      
                                      </form>
                  </div>
                 
                </div>
              </div>
        </div>
        
<footer class="webintern-footer">
       
        <div class="tt-copy">
        <div class="container">
        <div class="row">
        <div class="col-sm-6">
        <div class="tt-copy-left">Copyright © company 2018. All rights reserved. </div>
        </div>
        <div class="col-sm-6">
        <div class="tt-copy-right">
        Created by: compny 
        </div>
        </div>
        </div>
        </div>
        </div>
        </footer>
        
        