
<div class="header1">
        <h1 class="Power-to-the">
                Power to the

        </h1>
        <h1 class="product-managers">product managers</h1>
        <div class="inner-header flex">
                <p class="INSIGHTS-TO-IMPROVE">INSIGHTS TO IMPROVE PRODUCT PERFORMANCE</p>
                <p class="Empowering-product-m">Empowering product managers, developers and data engineers with
                        performance analytics to help deliver the best products.</p>


                

                
                <img class="logos" src="./assets/img/header_banner.svg" img-responsive>

        </div>
<div>
               
                <img id="banner" src="./assets/img/main_image-05.svg"  img-responsive>
</div>
        </div>
        <div id="container">
                <img id="img1" src="./assets/img/dots_3-16.svg"  img-responsive >
</div>









<div id="demo" class="carousel slide slider-style-1" data-ride="carousel" style="background-color: white;">

        <!-- Indicators -->
        <ol class="carousel-indicators " style="margin-left: 24%;" >
                <li data-target="#demo" data-slide-to="0" class=""></li>
                <li data-target="#demo" data-slide-to="1"></li>
                
              </ol>

        <!-- The slideshow -->
        <div style="margin-bottom: 5;" class="carousel-inner">
                <div class="carousel-item active">
                        <div class="row">


                                <div class="col-md-12 col-sm-12">
                                        <div class="text">
                                                <h1 class="Behavioral-Analytics">Behavioral Analytics</h1>

                                                <span class="Ever-wonder-How-are">Ever wonder "How are customers using
                                                        your product, if at all?.

                                                        Join millions of Product Managers who strive to answer this
                                                        question every day.
                                                        
                                                        Behavior data provides access to rich source of insight without
                                                        the need for
                                                        expensive data engineers.</span>
                                        </div>
                                        <div class="container">
                                                <div class="col-md-12 col-sm-12">
                                                        <img  src="./assets/img/images-04.svg" class='responsive'
                                                                style="width: 105%;margin-top: 8%;">
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
                <div class="carousel-item ">
                        <div class="row">
                                <div class="col-md-12" style="text-align: center;">
                                        <h1 class="Behavioral-Analytics">Performance Analytics</h1>
                                        <span class="Ever-wonder-How-are2">
                                                Ever wonder "Why my application is so slow". Move away
                                                 from traditional ways of running ping tests and telnetting
                                                  and enter the modern world of performance monitoring.
                                        </span>
                                        <br>
                                        <br>
                                        <img class="perfo"  src="./assets/img/Performance-05.png">
                                </div>
                        </div>

                </div>

                <!-- <ol class="carousel-control-prev">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                      </ol> -->

                <!-- Left and right controls -->
                <!-- <a class="carousel-control-prev" href="#demo" data-slide="prev">
<i class="fa fa-arrow-circle-left" style="font-size:36px; color: black;"></i>
</a>
<a class="carousel-control-next" href="#demo" data-slide="next">
<i class="fa fa-arrow-circle-right" style="font-size:36px;color: black;"></i>
</a>   -->





        </div>

</div>



<div class="container">
        <div id="demo1" class="carousel slide" data-ride="carousel" data-interval="false" style="background-color: white;margin-top: 7%;
        ">

                <!-- Indicators -->
                

                <!-- The slideshow -->
                <div class="carousel-inner">
                        <div  class="carousel-item active">
                                <div class="col-sm-12 col-md-12">
                                <div class="row">
                                       
                                                <!-- <img src="./assets/img/Performance-05.png"  alt="Los Angeles" style="width:100%;"> -->

                                                <div class="col-sm-12 col-md-6" style="color: black;">
                                                        <h1 class="Developer-and-langua1"> Developer and
                                                                language friendly</h1>
                                                        <span class="Quickly-and-easily-in">Quickly and
                                                                easily integrate with your programming
                                                                language to
                                                                seamlessly capture code-level
                                                                performance logs and deep-dive
                                                                analytics.</span>
                                                </div>
                                      
                                        <div class="col-md-6 slider">
                                                <img class="slidersimg" src="./assets/img/slide4svg-07.svg" alt="Los Angeles"
                                                        style="width:83%;">
                                        </div>
                                </div>
                        </div>
                        </div>
                        <div class="carousel-item ">
                                
                                <div class="row">
                                        <div class=" col-sm-12 col-md-6 ">
                                                <div class="col-sm-12 col-md-6" style="color: black;">
                                                        <h1 class="Developer-and-langua2"> Simplify
                                                                the complexity</h1>
                                                        <span class="Quickly-and-easily-in1">Trying to figure out how to
                                                                analyze
                                                                product performance data. Unclog the
                                                                complexity with purpose-built data mining and
                                                                knowledge discovery algorithms.</span>
                                                </div>

                                        </div>

                                        <div class="Oval" class=" col-sm-12 col-md-6 slider1">
                                                <img class="slidersimg" src="./assets/img/slide2-07.svg" alt="Los Angeles"
                                                        style="width: 60%;">
                                        </div>
                            
                        </div>
                        
                </div>

                        <div class="carousel-item ">

                               
                                <div class="row">
                                        <div class=" col-sm-12 col-md-6 ">
                                                <div class="col-sm-12 col-md-6" style="color: black;">
                                                        <h1 class="Developer-and-langua3"> Analyze data real-time</h1>
                                                        <span class="Quickly-and-easily-in2">Acting in real-time has
                                                                never been more mission critical. Data volumes are
                                                                beyond what any human is able to realistically interpret
                                                                and take action on. Machine learning with real-time
                                                                analytics is crucial in finding the “signal from the
                                                                noise.”
                                                                react without any delay </span>
                                                </div>
                                        </div>

                                        <div class="Oval" class=" col-sm-12 col-md-6 slider1 ">
                                                <img class="slidersimg" src="./assets/img/slide3-07.svg" alt="Los Angeles"
                                                        style="width: 60%;">
                                       
                                </div>
                                
                        </div>

                        </div>

                        <div class="carousel-item ">

                                
                                <div class="row">
                                        <div class=" col-sm-12 col-md-6 ">
                                                <div class="col-sm-12 col-md-6" style="color: black;">
                                                        <h1 class="Developer-and-langua4"> Diversify with confidence
                                                        </h1>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <span class="Quickly-and-easily-in4">Wondering how requests are
                                                                flowing through your entire infrastructure? String
                                                                transactions together with a distributed
                                                                trace and get a clear view of how your services are
                                                                interacting. Find where latency issues are arising in
                                                                the path and 
                                                                then pinpoint the components that need optimizing</span>
                                                </div>

                                        </div>
                                      
                                        <div class="Oval" class=" col-sm-12 col-md-6 slider1 ">
                                                <img class="slidersimg" src="./assets/img/slide1-07.svg" alt="Los Angeles"
                                                        style="width: 60%;">
                                        </div>
                             
                        </div>
                        </div>



                        <!-- Left and right controls -->
                        <a class="carousel-control-prev"  href="#demo1" data-slide="prev">
                                <i class="fa fa-angle-left" style="font-size:56px; color: black;"></i>
                        </a>
                        <a class="carousel-control-next" href="#demo1" data-slide="next">
                                <i class="fa fa-angle-right" style="font-size:56px;color: black;"></i>
                        </a>
                </div>

        </div>










        
        <div class="container ">

                <h1 class="How-we-use-AI" >How we use<h1 class="How-we-use-AI2" > Al</h1></h1>
                <br>
                <br>
                <div  style="     margin-bottom: 5%; " class=" row">

                        <div  class="col-sm-12 col-md-8 vector">
                                <div  class="col-md-6 col-sm-12">
                                        <div class="col-md-4 ">
                                                <img class="media" src="./assets/img/mock_vector-13.svg">
                                        </div>
                                        <div class="col-md-8 col-sm-12">

                                                <span style="color: black;font-size: 18px;  font-weight: 600;">Augmented
                                                        Intelligence</span>
                                                <br>
                                                <span class="We-use-AI-to-extend">We use Al to extend human
                                                        judgement
                                                        insteadof replacing it </span>
                                        </div>
                                </div>
                                <div style="margin-bottom: 3%;" class="col-md-6 col-sm-12">

                                        <div class="col-md-4">
                                                <img class="media" src="./assets/img/mock_vector-14.svg">
                                        </div>
                                        <div class="col-md-8 col-sm-12">

                                                <span style="color: black;    font-size: 18px;  font-weight: 600;">Signal
                                                        Capture &
                                                        User Behavior</span>
                                                <br>
                                                <span class="We-use-AI-to-extend">We capture user signals and cross analyze with historical behavior to draw behavior themes and patterns</span>
                                        </div>

                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="col-md-4">
                                                <img class="media" src="./assets/img/mock_vector-09.svg">
                                        </div>
                                        <div class="col-md-8 col-sm-12">

                                                <span style="color: black;    font-size: 18px;  font-weight: 600;">User
                                                        Experience</span>
                                                <br>
                                                <span class="We-use-AI-to-extend">We utilize machine learning to
                                                        create
                                                        positive
                                                        experiences by studying usage data
                                                        for customers </span>
                                        </div>
                                </div>
                                <div style="margin-bottom: 3%;" class="col-md-6 col-sm-12">
                                        <div class="col-md-4">
                                                <img class="media" src="./assets/img/mock_vector-11.svg">
                                        </div>
                                        <div class="col-md-8 col-sm-12">

                                                <span style="color: black;        font-size: 18px;  font-weight: 600;">Hyper
                                                        Personalization</span>
                                                <br>
                                                <span class="We-use-AI-to-extend">We use signal data to hyper personalize use experiences around product usage</span>
                                        </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="col-md-4">
                                                <img class="media" src="./assets/img/mock_vector-12.svg">
                                        </div>
                                        <div class="col-md-8 col-sm-12">

                                                <span
                                                        style="color: black;        font-size: 18px;  font-weight: 600;">Classification</span>
                                                <br>
                                                <span class="We-use-AI-to-extend">We use clustering algorithms to identify themes and patterns 
                                                        and improve usage experience. </span>
                                        </div>

                                </div>
                                <div class="col-md-6 col-sm-12">
                                        <div class="col-md-4">
                                                <img class="media" src="./assets/img/mock_vector-10.svg">
                                        </div>
                                        <div class="col-md-8 col-sm-12">

                                                <span
                                                        style="color: black;            font-size: 18px;  font-weight: 600;">Sentiment
                                                        Analysis</span>
                                                <br>
                                                <span class="We-use-AI-to-extend">We capture user opinions with language, and refine into more concise and focused structure with clear meaning.</span>
                                        </div>

                                </div>
                        </div>


                        <div class="col-sm-12 col-md-4">
                                <div >
                                        <img class="tunnel" src="./assets/img/funnel-06.svg" >



                                </div>
                        </div>
                       

                </div>
        </div>




<!-- 
        <br>
        <br>
        <br>
        <div class="container">
                <div class="col-md-12 col-sm-12">
                        <div class="row">
                                <div class="col align-self-start">
                                        &nbsp;
                                </div>
                                <div class="col align-self-center"
                                        style="background-color: blue;    padding-right: 252px;">
                                        <br>
                                        <br>
                                        <div class="col-md-8">
                                                <h1 class="Fall-in-love-with">Fall in love with</h1>
                                                <h1 class="the-job-you"> the job you</h1>
                                                <h1 class="truly-love">truly love.</h1>
                                        </div>
                                        <div class="col-md-4">
                                                <img class="Image-3" src="./assets/img/images.jpg">
                                        </div>


                                        <br>
                                        <br>

                                </div>
                                <div class="col align-self-end">
                                        &nbsp;
                                </div>
                        </div>
                </div>
        </div>

        <br>
        <br> -->

        <!-- <div class="container" style="text-align: center;">
                                <h1 class="Were-obsessed-with">We’re obsessed with your Sucess</h1>
                                <span class="Ever-wonder-Why-my">Ever wonder "Why my application is so slow". Move away
                                        from traditional ways of running ping
                                        tests and telnetting and enter the modern world of performance
                                        monitoring.</span>
                                <br>
                                <br>
                                <br>


                        </div> -->
 










        <br>
        <br>
        <div class="container">
                <div class="col-md-12">
                        <h1 class="How-it-all-works">How it all works</h1>
                        <span class="Makerspad-engineerin">
                                Makerspad engineering pipelines can take raw signal data and transform them into
                                actionable insights on user behavior.
                                The engineering components are quite specific to the actual application.
                        </span>
                        <br>
                        <br>
                        <img src="./assets/img/how-it-works.svg"  style="margin-left: 10%;margin-top: 5%;width: 100%" >
<br>
<div class="dots">
        <img src="./assets/img/dots_3-16.svg" >    
</div>
                </div>
        </div>
        
        <br>


        <footer class="Rectangle1">

                <div class="tt-copy">
                        <div class="container">
                                <div style="color: #232a64;" class="row">
                                        <div class="col-sm-6">
                                                <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                                <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                                        </div>
                                        <div class="col-sm-6">
                                                <div style="color: cornsilk;" class="tt-copy-right">
              
              
                                                                <a href="https://www.linkedin.com/company/productanalytics" style="font-size:24px; cursor: pointer; color: white;" class="fab fa-linkedin"></a>
              
                                                </div>
              
                                        </div>
                                </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <br>
                      
<div >
        <hr class="new4">
</div>
                        <br>
                        <br>
                        <div class="container">
                                <div class="row">
                                        <div class="col-md-6 col-sm-12" >
<h1 class="C-2020-makerspad--">(C) 2020 makerspad - All rights reserved</h1>
</div>

<div class="col-md-6 col-sm-12 " style="text-align: -webkit-right;">
<h1 class="Handmade-by-makerspa">Handmade by makerspad.ai</h1>
                        </div>
                        </div>
                </div>
                </div>
              </footer>




        <script>
                $(document).ready(function () {
                        var itemsMainDiv = ('.MultiCarousel');
                        var itemsDiv = ('.MultiCarousel-inner');
                        var itemWidth = "";

                        $('.leftLst, .rightLst').click(function () {
                                var condition = $(this).hasClass("leftLst");
                                if (condition)
                                        click(0, this);
                                else
                                        click(1, this)
                        });

                        ResCarouselSize();




                        $(window).resize(function () {
                                ResCarouselSize();
                        });

                        //this function define the size of the items
                        function ResCarouselSize() {
                                var incno = 0;
                                var dataItems = ("data-items");
                                var itemClass = ('.item');
                                var id = 0;
                                var btnParentSb = '';
                                var itemsSplit = '';
                                var sampwidth = $(itemsMainDiv).width();
                                var bodyWidth = $('body').width();
                                $(itemsDiv).each(function () {
                                        id = id + 1;
                                        var itemNumbers = $(this).find(itemClass).length;
                                        btnParentSb = $(this).parent().attr(dataItems);
                                        itemsSplit = btnParentSb.split(',');
                                        $(this).parent().attr("id", "MultiCarousel" + id);


                                        if (bodyWidth >= 1200) {
                                                incno = itemsSplit[3];
                                                itemWidth = sampwidth / incno;
                                        }
                                        else if (bodyWidth >= 992) {
                                                incno = itemsSplit[2];
                                                itemWidth = sampwidth / incno;
                                        }
                                        else if (bodyWidth >= 768) {
                                                incno = itemsSplit[1];
                                                itemWidth = sampwidth / incno;
                                        }
                                        else {
                                                incno = itemsSplit[0];
                                                itemWidth = sampwidth / incno;
                                        }
                                        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
                                        $(this).find(itemClass).each(function () {
                                                $(this).outerWidth(itemWidth);
                                        });

                                        $(".leftLst").addClass("over");
                                        $(".rightLst").removeClass("over");

                                });
                        }


                        //this function used to move the items
                        function ResCarousel(e, el, s) {
                                var leftBtn = ('.leftLst');
                                var rightBtn = ('.rightLst');
                                var translateXval = '';
                                var divStyle = $(el + ' ' + itemsDiv).css('transform');
                                var values = divStyle.match(/-?[\d\.]+/g);
                                var xds = Math.abs(values[4]);
                                if (e == 0) {
                                        translateXval = parseInt(xds) - parseInt(itemWidth * s);
                                        $(el + ' ' + rightBtn).removeClass("over");

                                        if (translateXval <= itemWidth / 2) {
                                                translateXval = 0;
                                                $(el + ' ' + leftBtn).addClass("over");
                                        }
                                }
                                else if (e == 1) {
                                        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
                                        translateXval = parseInt(xds) + parseInt(itemWidth * s);
                                        $(el + ' ' + leftBtn).removeClass("over");

                                        if (translateXval >= itemsCondition - itemWidth / 2) {
                                                translateXval = itemsCondition;
                                                $(el + ' ' + rightBtn).addClass("over");
                                        }
                                }
                                $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
                        }

                        //It is used to get some elements from btn
                        function click(ell, ee) {
                                var Parent = "#" + $(ee).parent().attr("id");
                                var slide = $(Parent).attr("data-slide");
                                ResCarousel(ell, Parent, slide);
                        }

                });
        </script>