





<div class="Header ">


  <div >
          <img src="assets/img/picturemessage.png" >
        </div>
 

<div class="sidebar-nav" style="font-family: Arial, Helvetica, Sans-Serif; font-size: 12px; text-align: -webkit-match-parent;">

      <input id="searchBox" style="width: 100%;border: none;border-top: 1px solid #d9d9d9; padding: 3px;  font-size: 12px;" type="text" placeholde="Search" class="searchBoxHint">

  <!--Menu-->
  <ul>


          <ul>
          
                  <li routerLink=''>Logout</li>
           </ul>



      <ul>
          
          <a  title=""> Shelf Control </a>

          <li routerLink='/price-flow'>PriceFlow</li>

        
      </ul>

      <ul>
          <a title=""> Device Control </a>
          <li routerLink="/shelf-displays" routerLinkActive="active">Shelf Display</li>
          <li routerLink="/shelf-ESL" routerLinkActive="active">Shelf ESL</li>
          
      </ul>




      <ul>
          <a title=""> Section Displays </a>

          <li routerLink="advt-displays">Advt Displays</li>
          <li routerLink="menu-displays">Menu Displays</li>
      </ul>

      <ul>
          <a title="">Layout Manager </a>

          <li routerLink="shelf-labels">Location</li>

      </ul>


      <ul>
          <a title=""> Content Manager</a>

          <li routerLink="shelf-labels">Planogram</li>
          <li routerLink="shelf-displays">Assign Content</li>
          <li routerLink="shelf-displays">Schedule Content</li>
      </ul>




      <ul>
          <a title=""> Messaging</a>

          <li routerLink="shelf-labels">Messages - Received</li>
          <li routerLink="shelf-displays">Messages - Sent</li>
          <li routerLink="shelf-displays">Messages - Trucker</li>
      </ul>



      <ul>
          <a title="">Administration </a>

          <li routerLink="shelf-labels">User Management</li>

      </ul>


      <ul>
          <a title="">Settings </a>

          <li routerLink="shelf-labels">Color and Font</li>

      </ul>



      <ul>
          <a title=""> Help </a>

          <li routerLink="shelf-labels">Service Desk</li>
          <li routerLink="shelf-displays">Documentation</li>
          <li routerLink="/qrcode-component" routerLinkActive="active">QR Code</li>


      </ul>









  </ul>



  <router-outlet></router-outlet>

</div>




<!-- <div class="search">
  <input type="text" placeholder="Search">
</div>
<div>
  <a>
      <span>
         
          <li routerLink="Login"> User Login</li>
      </span>
  </a>
</div>

<div>




  <div>


      <a (click)="Collaps($index)" *ngIf="$index === expandedIndex">
          <span>
              <img class="editImg" src="assets/img/minus.png">
              <li>Shelf Control</li>
          </span>
      </a>
      <a (click)="Collaps($index)" *ngIf="$index != expandedIndex">
          <span>
              <img class="editImg" src="assets/img/plus.png">
              <li>Shelf Control</li>
          </span>
      </a>
      <div *ngIf="$index === expandedIndex">

          <div class="row" style="margin-left:0px;margin-right:0px">
              <li routerLink='price-flow'>PriceFlow</li>
              <li routerLink="editSRA/:ct">Create/Edit SRAs</li>

              <div class="col-sm-6" style="width: 80%;"></div>
          </div>

      </div>
  </div>




  <div>

      <div *ngIf="$index === expandedIndex">

          <div class="row" style="margin-left:0px;margin-right:0px">
              <li routerLink="shelf-labels">Shelf Labels</li>
              <li routerLink="shelf-displays">Shelf Displays</li>


          </div>

      </div>
  </div>


  <div>

      <a (click)="Collaps($index)" *ngIf="$index === expandedIndex">
          <span>
              <img class="editImg" src="assets/img/minus.png">
              <li>Pricing Params</li>
          </span>
      </a>
      <a (click)="Collaps($index)" *ngIf="$index != expandedIndex">
          <span>
              <img class="editImg" src="assets/img/plus.png">
              <li>Pricing Params</li>
          </span>
      </a>
      <div *ngIf="$index === expandedIndex">

          <div class="row" style="margin-left:0px;margin-right:0px">
              <li routerLink="editSRA/:ct" class="col-sm-1">Rate Search</li>
              <li class="col-sm-1">SRS</li>
              <li class="col-sm-1">LPL</li>

          </div>

      </div>
  </div>


  <div>

      <a (click)="Collaps($index)" *ngIf="$index === expandedIndex">
          <span>
              <img class="editImg" src="assets/img/minus.png">
              <li>Admin</li>
          </span>
      </a>
      <a (click)="Collaps($index)" *ngIf="$index != expandedIndex">
          <span>
              <img class="editImg" src="assets/img/plus.png">
              <li>Admin</li>
          </span>
      </a>
      <div *ngIf="$index === expandedIndex">

          <div class="row" style="margin-left:0px;margin-right:0px">
              <li routerLink="editSRA/:ct" class="col-sm-1">Users</li>
              <li class="col-sm-1">Contract Frame</li>
              <li class="col-sm-1">Exclusions</li>
              <li class="col-sm-1">Rate Lines</li>

              <li class="col-sm-1">Notifications</li>
              <li class="col-sm-1">Events</li>


          </div>

      </div>
  </div>




  <div>

      <a (click)="Collaps($index)" *ngIf="$index === expandedIndex">
          <span>
              <img class="editImg" src="assets/img/minus.png">
              <li>Settings</li>
          </span>
      </a>
      <a (click)="Collaps($index)" *ngIf="$index != expandedIndex">
          <span>
              <img class="editImg" src="assets/img/plus.png">
              <li>Settings</li>
          </span>
      </a>
      <div *ngIf="$index === expandedIndex">

          <div class="row" style="margin-left:0px;margin-right:0px">
              <li routerLink="" class="col-sm-1">Users</li>

              <li class="col-sm-1">Color and Font</li>


          </div>

      </div>
  </div>

</div> -->

</div>