
.vat{
    text-align:center;
    color: dodgerblue;
    }
    
    .btn btn-primary{
        width: 100%
    }
    
    a {
        color: #343a40;
        text-decoration: none;
        background-color: transparent;
    }
     .float-center{
         text-align: center;
     }
     .footer {
        position: inherit;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: white;
        color:black;
        text-align: center;
     }
     .com{
       
        margin-top: -88px !important;
        margin: 7px;
        text-align: center;
    
     }
     .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 800;
        font-size: 38px;
        color: #ffffff!important;
        letter-spacing: 3px;
       
    }
      
    button:not(:disabled) {
        cursor: pointer;
        width: auto;
    }
    .text{
        text-align: -webkit-left;
        font-weight: inherit;
        font-family: "Open Sans",Arial,sans-serif;
        margin-left: 10px;
        font-weight: initial;
        text-align: center;
        font-size: 100%;
    vertical-align: baseline;
    }
    .input1{
        text-align: center;
        margin-left: -18px;
    
    }
    p {
        margin: 0 0 10px;
        font-weight: inherit;
        font-size: 14px;
    }
    .shop{
        text-align:center;
        font-size: xx-large;
    }  
    #topBtn{
        position: fixed;
        bottom: 40px;
        right: 40px;
        font-size: 22px;
        width: 50px;
        height: 50px;
        background: #e74c3c;
        color: white;
        border: none;
        cursor: pointer;
        display: none;
      }
      
    
      ul li{
        font-size:14px;
       } 
       body {
        color: rgb(248, 246, 246);
        background-color: #fff;
        font-family: "Open Sans",Arial,sans-serif !important;
        font-size: 14px;
        font-weight: 500;
        -webkit-font-smoothing: antialiased;
        line-height: 1.7em;
    }
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        vertical-align: middle;
        content: "";
        background: no-repeat center center;
        background-size: 100% 100%;
        /* padding-left: 20px; */
        margin-left: 197px;
    }
    .text{
        color: rgb(95, 92, 92);   
        text-align: center;
        font-size: 22px;
        line-height: 31px;
        font-family:  'proxima-nova', sans-serif;

    }
    .text2{
        color: rgb(95, 92, 92);        text-align: center;
        font-size: 22px;
        line-height: 31px;
        font-family:  'proxima-nova', sans-serif;

    }
    .par{
        margin: auto !important;
        font-size: 18px;
        line-height: 31px;
        font-family:  'proxima-nova', sans-serif;
        color: rgb(95, 92, 92);
        
    }


    .html{
        width: 100% !important;
    }

    .Power-to-the {
      width: 100%;
      height: 73px;
      font-family: Montserrat;
      font-size: 60px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #ffffff;
      position: absolute;
      z-index: 1;
      margin-top: 15%;
      margin-left: -30%;
      }

      .product-managers {
        width: 100%;
        height: 73px;
        font-family: Montserrat;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        position: absolute;
        z-index: 1;
        margin-top: 19%;
        margin-left: -24%;
      }
     

.INSIGHTS-TO-IMPROVE {
  width: 100%;
  height: 29px;
  font-family: Montserrat;
  font-size: 23px;
      font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  z-index: 1;
  position: absolute;
  margin-top: 24%;
  margin-left: -23%;
}
.Empowering-product-m {
    width: 544px;
    height: 44px;
    font-family: Montserrat;
    font-size: 14px;
        font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    z-index: 1;
    position: absolute;
    margin-top: 26.5%;
    margin-left: 8%;
    text-align: initial;
  }
  .Developer-and-langua  {
    width: 404px;
    height: 132px;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #001a35;
    
  }
  .Developer-and-langua1 {
    width: 100%;
    height: 132px;
    font-family: Montserrat;
    font-size: 26px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #001a35;
    margin-bottom: -50%;
    margin-top: 32%;
    margin-left: 57%;
}
  .Quickly-and-easily-in {
    width: 148%;
    height: 40px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin-left: 51%;
        margin-top: 27%;

    position: absolute;
}

  .Rectangle {
    width: 100%;
    height: 582px;
    border-radius: 14px;
    background-color: #f1f1f1;


  }
  .We-use-AI-to-extend {
    width: 426px;
    height: 20px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    font-weight: 600;
  }
  .Fall-in-love-with {
    width: 347px;
    height: 52px;
    font-family: Montserrat;
    font-size: 42.8px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .truly-love {
    width: 209px;
    height: 52px;
    font-family: Montserrat;
    font-size: 42.8px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  .truly-love .text-style-1 {
    letter-spacing: -0.43px;
  }
  .the-job-you {
    width: 260px;
    height: 52px;
    font-family: Montserrat;
    font-size: 42.8px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }

  .Image-3 {
    width: auto;
    height: auto;
    position: inherit;
    margin-left: 74%;
    margin-top: -29%;
    padding-right: 40px;
  }
  .Were-obsessed-with {
    width: 100%;
    height: 66px;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #001a35;
  }

  .Ever-wonder-Why-my {
    height: 60px;
    font-family: Montserrat;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    font-weight: 600;
   
  }
  
  .Performance-Analytic {
    width: 100%;
    height: 66px;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #001a35;
    font-weight: 800;
  }
  @media only screen and (max-width: 767px) {
  .Power-to-the {
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    margin-top: 7%;
    margin-left: -96px;
  }
}
@media only screen and (max-width: 767px) {
.product-managers {
    width: 100%;
    height: auto;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    position: absolute;
    z-index: 1;
    margin-top: 14%;
    margin-left: -18%;
}
}
@media only screen and (max-width: 767px) {
.INSIGHTS-TO-IMPROVE {
    width: 100%;
    /* height: 29px; */
    font-family: Montserrat;
    font-size: 9px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    z-index: 1;
    position: absolute;
    margin-top: 19%;
    margin-left: -13%;
}
}
@media only screen and (max-width: 767px) {
  .Empowering-product-m {
    width: 56%;
    height: auto;
    font-family: Montserrat;
    font-size: 8px;
        font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    z-index: 1;
    position: absolute;
    margin-top: 22%;
    margin-left: 6.5%;
    text-align: initial;
}
}

@media only screen and (max-width: 767px) {
#first {
    font-family: 'proxima-nova', sans-serif;
    font-size: 35px;
    line-height: 67px;
    font-weight: initial;
    margin-left: -20%;
}
}
@media only screen and (max-width: 767px) {
    #first{
        font-family: 'proxima-nova', sans-serif;
        font-size: 61px;
        line-height: 79px;
        font-weight: initial;
      
      
    margin-top: 75%;
  }}
  @media only screen and (max-width: 767px) {
  .Fall-in-love-with {
    height: 52px;
    font-family: Montserrat;
    font-size: 33.8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    margin-left: -49%;
}
  }

  @media only screen and (max-width: 767px) {
  .the-job-you {
    height: 52px;
    font-family: Montserrat;
    font-size: 34.8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    margin-top: 126%;
    margin-left: -38%;
}
  }

  @media only screen and (max-width: 767px) {
  .truly-love {
    height: 52px;
    font-family: Montserrat;
    font-size: 34.8px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    position: absolute;
    margin-top: 252%;
    margin-left: -38%;
}
  }
  @media only screen and (max-width: 767px) {
  .Were-obsessed-with {
    width: 100%;
    height: 66px;
    font-family: Montserrat;
    font-size: 29px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #001a35;
}
  }

  @media only screen and (max-width: 767px) {
  .Rectangle {
    width: 100%;
        height: 310px;
    border-radius: 14px;
    background-color: #f1f1f1;
}
  }
  @media only screen and (max-width: 767px) {
  .Performance-Analytic {
    width: 100%;
    height: 66px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #001a35;
    margin-bottom: 6%;


}
  }

  @media only screen and (max-width: 767px) {
  .Developer-and-langua1 {
    margin-top: 21%;
    width: 100%;
    /* height: auto; */
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 120%; */
    letter-spacing: normal;
    color: #001a35;
    margin-bottom: 1%;
    margin-left: 10px;
}
  }
  

  .Behavioral-Analytics {
    width: 100%;
    height: 66px;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-weight: 700;
    color: #001a35;
  }

  .Ever-wonder-How-are {
    width: 717px;
    height: 60px;
    font-family: Montserrat;
    font-size: 18px;
        font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #666666;
    font-weight: 600;
  }

  @media only screen and (max-width: 767px) {

  .Behavioral-Analytics {
    width: 100%;
    font-family: Montserrat;
    font-size: 33px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 33px;
    letter-spacing: normal;
    text-align: center;
    color: #001a35;
    margin-top: 0px;

}
  }

  @media only screen and (max-width: 767px) {
    #banner{
      width: 50% !important;
      position: relative !important;
      margin-top: -93% !important;
      margin-left: 50%!important;
      z-index:1!important;
  }
}

  .How-it-all-works {
    width: 100%;
    height: 66px;
    font-family: Montserrat;
    font-size: 54px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #263238;
    text-align: center;
  }

  .Makerspad-engineerin {
    width: 100%;
    height: 44px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
   
    letter-spacing: normal;
    color: #37474f;
}


@media only screen and (max-width: 767px) {

.How-it-all-works {
  width: 100%;
    height: 66px;
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #263238;
    margin-bottom: 13%;
}
}




@media only screen and (max-width: 767px) {

.Ever-wonder-How-are {
  width: 717px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #666666;
}
}




@media only screen and (max-width: 767px) {

.align-self-center{
  background-color: blue;
  padding-right: 252px;
  height: 423px;
}}

@media only screen and (max-width: 767px) {

.Image-3 {
  width: auto;
  height: auto;
  margin-left: -33%;
  position: absolute;
  margin-top: 387%;
}
}



#banner{
  width: 531px;
  height: 531px;
}

@media only screen and (max-width: 767px) {
.Quickly-and-easily-in {
  width: 96%;
    height: auto;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    margin-left: 0%;
    margin-top: -42px;
    position: absolute;
}

}
@media only screen and (max-width: 767px) {
.text{
  color: black;
  font-size: 18px;
  padding: 8px 14px !important;
  position: inherit;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
}

@media only screen and (max-width: 767px) {
.slider{
margin-top: 50px;
}
}

.Oval {
  width: 22px;
  height: 22px;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(to right, #0067ff -1%, #77ffa2 101%);
  border-image-slice: 1;
}