<div  class="container">
  <form class="form" action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">


          
          <label for="lname">Email</label>
          <input type="text" id="lname" name="lastname" placeholder="Your email..">
          

          <label for="lname">Ph Number</label>
          <input type="text" id="phone" name="phone"  placeholder="Your mobile.."
          pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
          required>
           


          <form style="margin-top: 4%;margin-bottom: 6%;" action="upload.php" method="post" enctype="multipart/form-data">
            Select resume to upload:
            <input type="file" name="fileToUpload" id="fileToUpload">
        </form>
          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.."
                  style="height:200px"></textarea>

          <input type="submit" value="Submit">
  </form>
</div>



  
  
<div class="container">
  <footer class="Rectangle1">
  
      <div class="tt-copy">
              <div class="container">
                      <div style="color: #232a64;" class="row">
                              <div class="col-sm-6">
                                      <div class="tt-copy-left">Santa Clara, California - 95051</div>
                                      <div class="tt-copy-left">info@makerspad.ai | +1 (408) 758 1073</div>
                              </div>
                              <div class="col-sm-6">
                                      <div style="color: cornsilk;" class="tt-copy-right">
    
    
                                                      <a href="https://www.linkedin.com/company/productanalytics" style="font-size:24px; cursor: pointer; color: white;" class="fab fa-linkedin"></a>
    
                                      </div>
    
                              </div>
                      </div>
              </div>
              <br>
              <br>
              <br>
              <br>
            
  <div >
  <hr class="new4">
  </div>
              <br>
              <br>
              <div class="container">
                      <div class="row">
                              <div class="col-md-6 col-sm-12" style="text-align: -webkit-left;">
  <h1 class="C-2020-makerspad--">(C) 2020 makerspad - All rights reserved</h1>
  </div>
  
  <div class="col-md-6 col-sm-12 " style="text-align: -webkit-right;">
  <h1 class="Handmade-by-makerspa">Handmade by makerspad.ai</h1>
              </div>
              </div>
      </div>
      </div>
    </footer>
  </div>